<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Лавка</h1>
        <p class="lead text-body-secondary">Фантастические твари</p>
          <p>
              {% if user.is_authenticated %}
                <div class="d-flex gap-2 mb-3">
                    <a href="{% url 'blog:blog_create' %}" class="btn btn-primary btn-lg w-50">Создать пост</a>
                    <a href="{% url 'blog:blog_list' %}" class="btn btn-danger btn-lg w-50">Познать мудрость</a>
                </div>
              {% else %}
                <div class="mb-3 d-flex justify-content-center">
                    <a href="{% url 'blog:blog_list' %}" class="btn btn-danger btn-lg rainbow-btn">Познать мудрость</a>
                </div>
              {% endif %}
          </p>
      </div>
    </div>
</section>