{% extends 'catalog/base.html' %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    {% if product.image %}
                    <img src="{{ object.image.url }}" style="height:300px;">
                    {% else %}
                    <div class="card-img-top bg-secondary text-white d-flex align-items-center justify-content-center" style="height:300px;">
                        Нет фото
                    </div>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ object.name }}</h5>
                        <p class="card-text"><strong>Категория:</strong> {{ object.category }}</p>

                        {% if object.description %}
                        <p class="card-text">{{ object.description|truncatechars:100 }}</p>
                        {% else %}
                        <p class="card-text text-muted">Тут никто ничего не придумал</p>
                        {% endif %}

                        {% if object.price %}
                        <p class="card-text fw-bold">Цена: ${{ object.price }}</p>
                        {% else %}
                        <p class="card-text fw-bold text-danger">Цена: Бесценно</p>
                        {% endif %}

                        <p class="card-text small text-muted">
                            Создано: {{ object.created_at }}<br>
                            Обновлено: {{ object.updated_at }}
                        </p>

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="{% url 'catalog:products_list' %}" role="button">Назад</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}